* {
	margin: 0;
	padding: 0;
}

html {
	background-color: #EEEEEE;
	height: 100%;
	font-family: "Calibri", "Arial";
}
body {
	height: 100%;
}

.layout-positioner {
	width: 700px;
	margin: 0 auto 0 auto;
}

.page-header {
	background: #20406A;
	width: 100%;
	min-width: 700px;
	height: 80px; /*100px*/
	position: relative;
}

.page-header .layout-positioner {
	position: relative;
	padding-top: 10px;
	height: 70px; /*90px*/
}

.page-header .logo {
	position: absolute;
	left: 25px;
	/*top: 15px;*/
}

.main-menu {
	list-style: none;
	position: absolute;
	right: 55px;
	bottom: 0;
	font-size: 0;
}

.main-menu li {
	display: inline-block;
}

.main-menu li a {
	width: 80px;
	display: block;
	padding: 10px 5px;
	text-align: center;
	border-right: 1px solid #122237;
	background-color: #1C385D;
	color: #fff;
	text-decoration: none;
	font-size: 14.5px;
}

.main-menu li a[href="index.html"] {
	border-radius: 20px 0 0 0;
}

.main-menu li a[href="contacts.html"] {
	border: none;
	border-radius: 0 20px 0 0;
}

.main-menu li a:hover {
	background: rgba(255,0,0,0.75);
}

main .layout-positioner {
	width: 680px;
	min-height: calc(100vh - 100px); /*- 120px*/
	padding: 10px;
	background: #FBFFA1;
	border-right: 1px solid #D8E12D;
	border-left: 1px solid #D8E12D;
}

main .fix, .page-footer .layout-positioner {
	height: 60px; /*70px*/
}

.page-footer {
	background: #20406A;
	width: 100%;
	min-width: 700px;
	height: 60px; /*70px*/
	margin-top: -60px; /*70px*/
	color: #fff;
}

.page-footer .layout-positioner {
	position: relative;
}

.page-footer .social-container {
	float: left;
	height: 60px; /*70px*/
	line-height: 60px; /*70px*/
	position: absolute;
}

.page-footer .social {
	display: inline-block;
	width: 40px;
	height: 40px;
	background: #3C29AA url("social.png") no-repeat;
	vertical-align: middle;
	margin-left: 30px;
	border-radius: 10px;
}

.page-footer .social-fb {
	background: #2D2A92 url("social.png") no-repeat 45% 0;
}

.page-footer .social-gp {
	background: #E03131 url("social-challenge.png") no-repeat 110% 40%;
}

.page-footer .social:hover {
	background-color: rgba(255,0,0,0.75);
}

.page-footer .copyright {
	float: right;
	width: 260px;
	height: 60px; /*70px*/
	line-height: 60px; /*70px*/
	vertical-align: middle;
	text-align: right;
	padding-right: 30px;
	font-size: 12px;
}