* {
	margin: 0;
	padding: 0;
}

html {
	background-color: #EEEEEE;
	height: 100%;
}
body {
	height: 100%;
}

.layout-positioner {
	width: 700px;
	margin: 0 auto 0 auto;
}

.page-header {
	background: #20406A;
	width: 100%;
	height: 100px;
}

.page-header .layout-positioner {
	position: relative;
	padding-top: 10px;
	height: 90px;
}

.page-header .logo {
	position: absolute;
	left: 25px;
	top: 15px;
}

.main-menu {
	list-style: none;
	margin: 52px 0 0 280px;
}

.main-menu li {
	display: inline-block;
	margin-right: -4px;
}

.main-menu li a {
	width: 80px;
	display: block;
	padding: 10px 5px;
	text-align: center;
	border-right: 1px solid #122237;
	background-color: #1C385D;
	color: #fff;
	text-decoration: none;
	font-size: 14px;
}

.main-menu li a[href="index.html"] {
	border-radius: 20px 0 0 0;
}

.main-menu li a[href="contacts.html"] {
	border: none;
	border-radius: 0 20px 0 0;
}

.main-menu li a:hover {
	background: rgba(255,0,0,0.75);
}

main .layout-positioner {
	width: 680px;
	min-height: calc(100vh - 120px);
	padding: 10px;
	background: #FBFFA1;
	border-right: 1px solid #D8E12D;
	border-left: 1px solid #D8E12D;
}

main .fix {
	height: 100px;
}

.page-footer .layout-positioner {
	height: 100px;
}

.page-footer {
	background: #20406A;
	width: 100%;
	height: 100px;
	margin-top: -100px;
	color: #fff;
}

.page-footer .social-container {
	float: left;
	width: 218px;
	height: 100px;
	line-height: 100px;
}

.page-footer .social-container .social {
	display: inline-block;
	width: 40px;
	height: 40px;
	background: #3C29AA url("social.png") no-repeat;
	vertical-align: middle;
	margin-left: 30px;
	border-radius: 10px;
}

.page-footer .social-container .social-fb {
	background: #2D2A92 url("social.png") no-repeat 45% 0;
}

.page-footer .social-container .social-gp {
	background: #E03131 url("social-challenge.png") no-repeat 110% 40%;
}

.page-footer .social-container .social:hover {
	background-color: rgba(255,0,0,0.75);
}

.page-footer .copyright {
	float: right;
	width: 260px;
	height: 100px;
	line-height: 100px;
	vertical-align: middle;
	text-align: right;
	padding-right: 30px;
	font-size: 14px;
}